<canvas style="border: 1px solid black" width="1000" height="500" id="gameCanvas" class="target"></canvas>
<br />
<br />
<div style="max-width: 1000px; width: 1000px; height: 200px; border: 1px solid #ccc; overflow: auto;" data-bind="html: $root.textArea">
</div>